<h1><%= @project.title %></h1>

<ul>
<% @project.tasks.each do |task| %>
<li>
	<%= task.title %>
	<%= link_to "[Delete]", project_task_path(task.project.id,task.id), method: :delete, data: {confirm: "削除しますか？" } %>
</li>
<% end %>
<li>
	<%= form_for [@project, @project.tasks.build] do |f| %>
	<%= f.text_field :title %>
	<%= f.submit %>
	<% end %>
</li>
</ul>